body{
  background-color:  gray;
}
.header{
  margin: 0 auto;
  height: 100px;
  width: 50%;
  text-align: center;
  }
h4{
  color: white
}
.container{
  margin: 50px auto;
  display:flex;
  align-items: center;
  margin-left: 40px;
  justify-content: center;
}
.image{
  flex-basis: 40%;
  padding-left: 120px;
  }
img{
  height: 350px;
  width: 300px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 2px;
}
ul{
  list-style-type: square;
  text-align: justify;
}
.others{
  margin: 100px auto;
}
@media screen and (max-width: 300px) {
  .header {
    float: none;
    display: block;
  }
  .container .image{
    float: inline-start;
    }
  }